<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comic DB</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald" rel="stylesheet">
  <link href="../public/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="header"> Comic DB
  <form class="inputForm">
    <input id="characterEntered" class ="searchIn" type="text">
    <button id="submitButton" type="submit">Search</button>
  </form>
</header>
<h1>Welcome to the Character Database!</h1>
{{#logged_in}}
<div class="inputBox">

    {{#users}}
    <h4>Welcome {{name}}!</h4>
    {{/users}}
<a href ="/user">Go to Account Page</a>
<p>Here are your saved characters:</p>

<div class="favs">

    {{#searches}}

    <img src="{{image}}">
    <br>{{name}}

    <form method="POST" action="/searches/{{id}}?_method=DELETE">
    <button type="submit" id="delete">Delete</button>
    </form>
    {{/searches}}</div>
    <br>
  <a href="/logout">Logout!</a>
</div>


<div class="resultContainer hide">
  <div class="results">
    <div class="profile">
      <div id="profileImg">
      </div>
        <p id="realName" class = "prof"> Real Name:
        </p><hr>
        <p id="aliases" class = "prof"> Aliases:
        </p><hr>
        <p id="dob" class = "prof"> DOB:
        </p><hr>
        <p id="publisher" class = "prof"> Publisher:
        </p>
        <button type="button" id= "save">Save Character</button>
        <button type="button" id= "home">My Account</button>
    </div>
    <h1 id= "charTitle"></h1>
    <p id="information">
    </p>
    <p id="des">
    </p>
  </div>
</div>


  {{/logged_in}}
  {{^logged_in}} <!-- not logged in -->
<form action="/login" method="post">
<div class="resultContainer hide">
  <div class="results">
    <div class="profile">
      <div id="profileImg">
      </div>
        <p id="realName" class = "prof"> Real Name:
        </p><hr>
        <p id="aliases" class = "prof"> Aliases:
        </p><hr>
        <p id="dob" class = "prof"> DOB:
        </p><hr>
        <p id="publisher" class = "prof"> Publisher:
        </p>
<!--<button type="button" id= "save">Save Info</button> -->
    </div>
    <h1 id= "charTitle"></h1>
    <p id="information">
    </p>
    <p id="des">
    </p>
  </div>
</div>
<div class="inputBox">

  <p>Email</p>
  <div>
    <input name="email" type="text" class="inputStuff" id="inputEmail" placeholder="Email">
  </div>
  <p>Password</p>
  <div>
    <input name="password" type="password" class="inputStuff" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="buttonLog">Login!</button>
  <br>
<p>Not a member? <a href="/signup">Sign Up!</a></p>
</div>
 {{/logged_in}}


</div>
  <script src="../public/jquery.js"></script>
  <script src="../public/config.js"></script>
  <script src="../public/script.js"></script>
</body>
</html>
