<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comic DB</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald" rel="stylesheet">
  <link href="../public/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="header"> Comic DB
  <form class="inputForm">
    <input id="characterEntered" class ="searchIn" type="text">
    <button id="submitButton" type="submit">Search</button>
  </form>
</header>

<div class="resultContainer">
  <p>Email</p>
  <div>
    <input name="email" type="text" class="inputStuff" id="inputEmail" placeholder="Email">
  </div>
  <p>Password</p>
  <div>
    <input name="password" type="password" class="inputStuff" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="buttonLog">Join!</button>
</div>


  <script src="../public/jquery.js"></script>
  <script src="../public/config.js"></script>
  <script src="../public/script.js"></script>
</body>
</html>
