<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comic DB</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald" rel="stylesheet">
  <link href="../public/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="header"> Comic DB
  <form class="inputForm">
    <input id="characterEntered" class ="searchIn" type="text">
    <button id="submitButton" type="submit">Search</button>
  </form>
</header>
<div class="resultContainer">
  <div class="results">
    <div class="profile">
      <div id="profileImg">
      </div>
        <p id="realName" class = "prof"> Real Name:
        </p><hr>
        <p id="aliases" class = "prof"> Aliases:
        </p><hr>
        <p id="dob" class = "prof"> DOB:
        </p><hr>
        <p id="publisher" class = "prof"> Publisher:
        </p>
        <button type="button" id= "save">Save Info</button>
    </div>
    <h1 id= "charTitle"></h1>
    <p id="information">
    </p>
    <p id="des">
    </p>
  </div>
</div>
<div class="inputBox">
  <p>Email</p>
  <div>
    <input name="email" type="text" class="inputStuff" id="inputEmail" placeholder="Email">
  </div>
  <p>Password</p>
  <div>
    <input name="password" type="password" class="inputStuff" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="buttonLog">Log In!</button>
</div>

Don't have an account? <a href ="/signup">Sign Up!</a>

  <script src="../public/jquery.js"></script>
  <script src="../public/config.js"></script>
  <script src="../public/script.js"></script>
</body>
</html>
