<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comic DB</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald" rel="stylesheet">
  <link href="../public/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="header"> Comic DB
  <form class="inputForm">
    <input id="characterEntered" class ="searchIn" type="text">
    <button id="submitButton" type="submit">Search</button>
  </form>
</header>
<div class="resultContainer">
  <div class="results">
  <div class="profile">
      <div id="profileImg">
      </div>
      <p id="attrib"></p>
    </div>
    <h1 id= "charTitle"></h1>
    <p id="information">
    </p>
    <p id="des">
    </p>
</div>
  <script src="../public/jquery.js"></script>
  <script src="../public/config.js"></script>
  <script src="../public/script.js"></script>
</body>
</html>
