<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comic DB</title>
</head>
<body>
  <p class="prompt">What character are you looking for?</p>
  <form class="pure-form">
    <input id="character_entered" type="text">
    <button id="submit_button" type="submit">Search</button>
  </form>

  <p id="information"></p>
  <p id="des"></p>
  <p class="date"></p>
  <script src="public/jquery.js"></script>
  <script src="public/config.js"></script>
  <script src="public/script.js"></script>
</body>
</html>
