<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comic DB</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald" rel="stylesheet">
  <link href="../public/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="header"> Comic DB
  <form class="inputForm">
    <input id="characterEntered" class ="searchIn" type="text">
    <button id="submitButton" type="submit">Search</button>
  </form>
</header>
<h1>Welcome to the Character Database!</h1>

{{#logged_in}}
<div class="inputBox">
{{#users}}
<form method="POST" action= "/user/{{id}}?_method=PUT">

<h4>Welcome {{name}}!</h4>

  <p>To change your information, and click update.</p>
  Name: <input name="name" id="name" value="{{name}}"><br>
  Username: <input name="username" id="username" value="{{username}}">

 <button type="submit" id="update">Update Account</button>
</form>
{{/users}}
</div>
{{/logged_in}}

{{^logged_in}}
<p>not logged in</p>
{{/logged_in}}
  <script src="../public/jquery.js"></script>
  <script src="../public/config.js"></script>
  <script src="../public/script.js"></script>
</body>
</html>
